*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    height: 65px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
#nav h5{
    display: none;
}
#nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.gola{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
#nav-part2 h4{
    font-size: 15px;
    font-weight: 600;
}
#nav-part2 h4 span{
    color: rgb(160, 150, 150);
    margin-left: 25px;
}
#nav2{
    height: 70px;
    width: 100%;
    background-color: rgb(148, 164, 169);
    display: flex;
    align-items: center;
    padding: 0 50px;
    gap: 60px;
}
#nav2 h3{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: bisque; */
}
#text-content{
    height: 27%;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 5px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.elem h1{
    font-size: 7vw;
    font-weight: 500;
}
#image-content{
    height: 60vh;
    width: 100vw;
    align-items: center; 
    display: flex;
    overflow-y:hidden;
}
#image-content::-webkit-scrollbar{
    display: none;
}
#image-content img{
     display: block;   
    flex: 0 0 100%;
    flex-shrink: 0;
    width:100vw;
    height: 100vh;
    margin: 10px 20px 0 0;
    object-fit:cover;
}
#image-content img:nth-child(1) {
    margin-top:0px;
    width: 90%;
    height: 100%;
    margin-right: 10px;
}
 #image-content img:nth-child(2) {
    margin-top:0px;
    width: 95%;
    height: 100%;
    margin-right: 10px;
}
#image-content img:nth-child(3) {
    margin-top:0px;
    width: 90%;
    height: 100%;
    margin-right: 10px;
}


@media (max-width:600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:Arial, Helvetica, sans-serif;
    }
    html,body{
        height: 100%;
        width: 100%;
    }
    #main{
        height: 100%;
        width: 100%;
    }
    #nav{
        height: 70px;
        padding: 0 25px;
    }
    #nav-part1{
        gap: 0px;
    }
    #nav h5{
        display: initial;
    }
    #nav h5 i{
        font-size: 20px;
        font-weight: 600;
    }
    .gola{
        height: 15px;
        width: 15px;
        background-color: black;
        border-radius: 50%;
    }
    #nav-part2{
        align-items: center;
        gap: px;
    }
    #nav-part2 h4{
        font-size: 10px;
        display: none;
        font-weight: 600;
    }
    #nav-part2 h4:nth-child(1){
        display: initial;
        margin-right: 25px;
    }
    #nav-part2 h4 span{
        color: rgb(160, 150, 150);
        margin-left: 25px;
    }
    #nav2{
        height: 50px;
        width: 100%;
        background-color: rgb(148, 164, 169);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 25px;
        gap: 10px;
    }
    #nav2 h3{
        font-size: 2.5vw;
        font-weight: 600;
        text-transform: uppercase;  
    }
    #content{
        height: calc(100% - 120px);
        width: 100%;
        /* background-color: bisque; */
    }
    #text-content{
        height: 35%;
        width: 100%;
        background-color: aquamarine;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    #text-content::-webkit-scrollbar{
        background-color: transparent;
        height: 4px;
    }
    #text-content::-webkit-scrollbar-thumb{
        background-color: orangered;
    }
    .elem{
        flex-shrink: 0;
        height: 100%;
        width: fit-content;
        /* background-color: brown; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    .elem h1{
        font-size: 14vw;
        white-space: nowrap;
        font-weight: 500;
    }
    #image-content{
        height: 65%;
        width: 100%;
        /* background-color: darkgoldenrod; */
        display: flex;
        overflow-x: auto;
    }
    #image-content::-webkit-scrollbar{
        display: none;
    }
    #image-content img{
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    #image-content img:nth-child(3) img{
        object-position: left;
    }
}